table,
table th,
table td{
   border: 2px solid rgb(31, 10, 10);
  border-collapse: collapse;
  padding: 10px 30px;
}
table th{
    background-color: pink;
}
table td{
    background-color: rgb(146, 127, 255);
}